* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;

    color:white;
}

main {
    background-color: rgb(255, 217, 236);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#header { 
    display: flex;
    width: 235px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

#header .player {
    background-color: rgb(253, 182, 218);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 12px;
    border: solid 4px rgb(253, 182, 218);
    opacity: 0.5;
    transition: 0.3s;
}

#header .player:hover {
    border: solid 4px rgb(224, 158, 191);
}

#header .player-active {
    opacity: 1;
    border: solid 4px rgb(250, 167, 209);
}

#header #playerX {
    color: rgb(255, 0, 119);
}

#header #playerO {
    color: rgb(38, 42, 145);
}

#board{
    display: grid;
    grid-template-columns: repeat(3, 70px);
    grid-template-rows: repeat(3, 70px);
    gap: 12px;
}

#board .cell{
    background-color: rgb(253, 182, 218);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s background;
}

#board .cell:hover{
    background-color: rgb(253, 145, 199);
}

#restartBtn{
    margin-top: 30px;
    width: 235px;
    background-color: rgb(253, 182, 218);
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    border-radius: 12px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s background;
    visibility: hidden;
}

#restartBtn:hover{
    background-color: rgb(250, 167, 209);
}